<%- include Partials/header.ejs %>
<%- include Partials/nav.ejs %>
<!--Main Content-->
  <h1><%= title %></h1>
  <p>Welcome to our homepage <%= title %></p>
  <p>Having trouble getting task done? Use my app it will boost your productivity by 300% </p>
  <a>



  
<%- include Partials/footer.ejs %>